<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481572064809-nr1e5i5ugpch7alrqdga3di8lugi7spo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481572064809-nr1e5i5ugpch7alrqdga3di8lugi7spo</string>
	<key>API_KEY</key>
	<string>AIzaSyBFeOqsEXl4FMANv8tN7RiX9XkHSmwJKAw</string>
	<key>GCM_SENDER_ID</key>
	<string>481572064809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.upnati.upnati-ap</string>
	<key>PROJECT_ID</key>
	<string>upstore-2e605</string>
	<key>STORAGE_BUCKET</key>
	<string>upstore-2e605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481572064809:ios:c98a58a5759d6b1dc51638</string>
</dict>
</plist>